/*
Page ID: p_0010165
File: /front_end/personal_info/personal_info_08_log_out_02_css_01_template.css
*/
.p_0010165_letra_centrada
{
	text-align: center;
	min-width: 150px;
    color: #666;
    font-size: 1.5em;
	margin: 1em;
}
