.FUENTEMUYPEQUENYA {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYABOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	FONT-WEIGHT: BOLD;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYACOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	COLOR: #585858;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYACOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYACOLORCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	COLOR: #009900;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYACOLORCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	FONT-WEIGHT: BOLD;
	COLOR: #009900;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYACOLORINFORMATIVO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	COLOR: #B7007A;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYACOLORINFORMATIVOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	FONT-WEIGHT: BOLD;
	COLOR: #B7007A;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYACOLORINCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	COLOR: #FF0000;
	LINE-HEIGHT: 10PX;
}
.FUENTEMUYPEQUENYACOLORINCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF0000;
	LINE-HEIGHT: 10PX;
}

.BOTONFUENTEMUYPEQUENYACOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	COLOR: #585858;
	cursor: pointer;
}
.BOTONFUENTEMUYPEQUENYACOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 8PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	cursor: pointer;
}

.ENLACEFUENTEMUYPEQUENYACOLORNORMAL A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #585858; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORNORMAL A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #585858; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORNORMAL A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #FF9900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORNORMAL A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #585858; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORNORMAL {cursor:pointer}

.ENLACEFUENTEMUYPEQUENYACOLORNORMALBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORNORMALBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORNORMALBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORNORMALBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORNORMALBOLD {cursor:pointer}

.ENLACEFUENTEMUYPEQUENYACOLORCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #009900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #009900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #FF9900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #009900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORCORRECTO {cursor:pointer}

.ENLACEFUENTEMUYPEQUENYACOLORCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #FF0000; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #FF0000; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #FF9900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #FF0000; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTO {cursor:pointer}

.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #B7007A; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #B7007A; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #FF9900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; COLOR: #B7007A; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVO {cursor:pointer}

.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 8PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 10PX}
.ENLACEFUENTEMUYPEQUENYACOLORINFORMATIVOBOLD {cursor:pointer}

.FUENTEPEQUENYA {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYABOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	FONT-WEIGHT: BOLD;
	color: #666;
	LINE-HEIGHT: 12PX;
}
.FUENTEPARRILLAPEQUENYA {
	font-family: arial;
	font-size: 10px;
	color: #000000;
	line-height: 15px;
}
.FUENTEPARRILLAPEQUENYABOLD {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	line-height: 15px;
}
.FUENTEPEQUENYACOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	COLOR: #585858;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	COLOR: #009900;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	FONT-WEIGHT: BOLD;
	COLOR: #009900;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORINFORMATIVO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	COLOR: #B7007A;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORINFORMATIVOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	FONT-WEIGHT: BOLD;
	COLOR: #B7007A;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORINCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	COLOR: #FF0000;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORINCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF0000;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORENLACE {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	COLOR: #FF9900;
	LINE-HEIGHT: 12PX;
}
.FUENTEPEQUENYACOLORENLACEBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF9900;
	LINE-HEIGHT: 12PX;
}

.BOTONFUENTEPEQUENYACOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	COLOR: #585858;
	cursor: pointer;
}
.BOTONFUENTEPEQUENYACOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 10PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	cursor: pointer;
}
.BOTONPARRILLAFUENTEPEQUENYACOLORNORMALBOLD {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}
.ENLACEFUENTEPEQUENYACOLORNORMAL A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #585858; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORNORMAL A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #585858; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORNORMAL A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORNORMAL A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #585858; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORNORMAL {cursor:pointer}

.ENLACEFUENTEPEQUENYACOLORNORMALBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORNORMALBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORNORMALBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORNORMALBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORNORMALBOLD {cursor:pointer}

.ENLACEFUENTEPEQUENYACOLORCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #009900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #009900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #009900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORCORRECTO {cursor:pointer}

.ENLACEFUENTEPEQUENYACOLORCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEPEQUENYACOLORINCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #FF0000; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #FF0000; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #FF0000; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINCORRECTO {cursor:pointer}

.ENLACEFUENTEPEQUENYACOLORINCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEPEQUENYACOLORINFORMATIVO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINFORMATIVO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINFORMATIVO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINFORMATIVO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINFORMATIVO {cursor:pointer}

.ENLACEFUENTEPEQUENYAWINGDINGSCOLORINFORMATIVO A:link {text-decoration: none; FONT-FAMILY: WINGDINGS; FONT-SIZE: 10PX; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYAWINGDINGSCOLORINFORMATIVO A:visited {text-decoration: none; FONT-FAMILY: WINGDINGS; FONT-SIZE: 10PX; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYAWINGDINGSCOLORINFORMATIVO A:hover {text-decoration: underline; FONT-FAMILY: WINGDINGS; FONT-SIZE: 10PX; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYAWINGDINGSCOLORINFORMATIVO A:active {text-decoration: none; FONT-FAMILY: WINGDINGS; FONT-SIZE: 10PX; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYAWINGDINGSCOLORINFORMATIVO {cursor:pointer}

.ENLACEFUENTEPEQUENYACOLORINFORMATIVOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINFORMATIVOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINFORMATIVOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINFORMATIVOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 10PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 12PX}
.ENLACEFUENTEPEQUENYACOLORINFORMATIVOBOLD {cursor:pointer}

.FUENTEESTANDAR {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	FONT-WEIGHT: BOLD;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	COLOR: #585858;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	COLOR: #009900;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	FONT-WEIGHT: BOLD;
	COLOR: #009900;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORINFORMATIVO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	COLOR: #B7007A;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORINFORMATIVOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	FONT-WEIGHT: BOLD;
	COLOR: #B7007A;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORINCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	COLOR: #FF0000;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORINCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF0000;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORENLACE {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	COLOR: #FF9900;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARCOLORENLACEBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF9900;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARWINGDINGSCOLORCORRECTO {
	FONT-FAMILY: WINGDINGS;
	FONT-SIZE: 12PX;
	COLOR: #009900;
	LINE-HEIGHT: 16PX;
}
.FUENTEESTANDARWINGDINGSCOLORINCORRECTO {
	FONT-FAMILY: WINGDINGS;
	FONT-SIZE: 12PX;
	COLOR: #FF0000;
	LINE-HEIGHT: 16PX;
}

.BOTONFUENTEESTANDARCOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	COLOR: #585858;
	cursor: pointer;
}
.BOTONFUENTEESTANDARCOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	cursor: pointer;
}

.INPUTFUENTEESTANDARCOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 12PX;
	COLOR: #585858;
	BORDER: 1PX SOLID #000000;
	PADDING-LEFT: 3PX;
}

.ENLACEFUENTEESTANDARCOLORNORMAL A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #585858; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORNORMAL A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #585858; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORNORMAL A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORNORMAL A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #585858; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORNORMAL {cursor:pointer}

.ENLACEFUENTEESTANDARCOLORNORMALBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORNORMALBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORNORMALBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORNORMALBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORNORMALBOLD {cursor:pointer}

.ENLACEFUENTEESTANDARCOLORCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #009900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #009900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #009900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORCORRECTO {cursor:pointer}

.ENLACEFUENTEESTANDARCOLORCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEESTANDARCOLORINCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #FF0000; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #FF0000; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #FF0000; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINCORRECTO {cursor:pointer}

.ENLACEFUENTEESTANDARCOLORINCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEESTANDARCOLORINFORMATIVO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINFORMATIVO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINFORMATIVO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINFORMATIVO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINFORMATIVO {cursor:pointer}

.ENLACEFUENTEESTANDARWINGDINGSCOLORINFORMATIVO A:link {text-decoration: none; FONT-FAMILY: WINGDINGS; FONT-SIZE: 12PX; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARWINGDINGSCOLORINFORMATIVO A:visited {text-decoration: none; FONT-FAMILY: WINGDINGS; FONT-SIZE: 12PX; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARWINGDINGSCOLORINFORMATIVO A:hover {text-decoration: underline; FONT-FAMILY: WINGDINGS; FONT-SIZE: 12PX; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARWINGDINGSCOLORINFORMATIVO A:active {text-decoration: none; FONT-FAMILY: WINGDINGS; FONT-SIZE: 12PX; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARWINGDINGSCOLORINFORMATIVO {cursor:pointer}

.ENLACEFUENTEESTANDARCOLORINFORMATIVOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINFORMATIVOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINFORMATIVOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINFORMATIVOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 12PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 16PX}
.ENLACEFUENTEESTANDARCOLORINFORMATIVOBOLD {cursor:pointer}

.FUENTEGRANDE {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDEBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	FONT-WEIGHT: BOLD;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	COLOR: #585858;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	COLOR: #009900;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	FONT-WEIGHT: BOLD;
	COLOR: #009900;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORINFORMATIVO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	COLOR: #B7007A;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORINFORMATIVOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	FONT-WEIGHT: BOLD;
	COLOR: #B7007A;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORINCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	COLOR: #FF0000;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORINCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF0000;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORENLACE {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	COLOR: #FF9900;
	LINE-HEIGHT: 18PX;
}
.FUENTEGRANDECOLORENLACEBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF9900;
	LINE-HEIGHT: 18PX;
}

.BOTONFUENTEGRANDECOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	COLOR: #585858;
	cursor: pointer;
}
.BOTONFUENTEGRANDECOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	cursor: pointer;
}

.INPUTFUENTEGRANDECOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 14PX;
	COLOR: #585858;
	BORDER: 1PX SOLID #000000;
	PADDING-LEFT: 3PX;
}

.ENLACEFUENTEGRANDECOLORNORMAL A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #585858; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMAL A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #585858; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMAL A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMAL A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #585858; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMAL {cursor:pointer}

.ENLACEFUENTEGRANDECOLORNORMALBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMALBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMALBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMALBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMALBOLD {cursor:pointer}

.ENLACEFUENTEGRANDECOLORNORMALBOLD_2 A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR:#06F; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMALBOLD_2 A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #06F; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMALBOLD_2 A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMALBOLD_2 A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #06F; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORNORMALBOLD_2 {cursor:pointer}

.ENLACEFUENTEGRANDECOLORCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #009900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #009900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #009900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORCORRECTO {cursor:pointer}

.ENLACEFUENTEGRANDECOLORCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEGRANDECOLORINCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #FF0000; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #FF0000; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #FF0000; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINCORRECTO {cursor:pointer}

.ENLACEFUENTEGRANDECOLORINCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEGRANDECOLORINFORMATIVO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #B7007A; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINFORMATIVO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #B7007A; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINFORMATIVO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINFORMATIVO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; COLOR: #B7007A; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINFORMATIVO {cursor:pointer}

.ENLACEFUENTEGRANDECOLORINFORMATIVOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINFORMATIVOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINFORMATIVOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINFORMATIVOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 14PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 18PX}
.ENLACEFUENTEGRANDECOLORINFORMATIVOBOLD {cursor:pointer}

.FUENTEMUYGRANDE {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDEBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	FONT-WEIGHT: BOLD;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORNORMAL {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	COLOR: #585858;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORNORMALBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	FONT-WEIGHT: BOLD;
	COLOR: #585858;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	COLOR: #009900;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	FONT-WEIGHT: BOLD;
	COLOR: #009900;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORINFORMATIVO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	COLOR: #B7007A;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORINFORMATIVOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	FONT-WEIGHT: BOLD;
	COLOR: #B7007A;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORINCORRECTO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	COLOR: #FF0000;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORINCORRECTOBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF0000;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORENLACE {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	COLOR: #FF9900;
	LINE-HEIGHT: 20PX;
}
.FUENTEMUYGRANDECOLORENLACEBOLD {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 16PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF9900;
	LINE-HEIGHT: 20PX;
}

.FUENTEVACIO {
	FONT-FAMILY: ARIAL;
	FONT-SIZE: 1PX;
	COLOR: #585858;
	LINE-HEIGHT: 1PX;
}

.ENLACEFUENTEMUYGRANDECOLORNORMAL A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #585858; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORNORMAL A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #585858; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORNORMAL A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #FF9900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORNORMAL A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #585858; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORNORMAL {cursor:pointer}

.ENLACEFUENTEMUYGRANDECOLORNORMALBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORNORMALBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORNORMALBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORNORMALBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #585858; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORNORMALBOLD {cursor:pointer}

.ENLACEFUENTEMUYGRANDECOLORCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #009900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #009900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #FF9900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #009900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORCORRECTO {cursor:pointer}

.ENLACEFUENTEMUYGRANDECOLORCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #009900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEMUYGRANDECOLORINCORRECTO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #FF0000; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINCORRECTO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #FF0000; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINCORRECTO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #FF9900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINCORRECTO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #FF0000; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINCORRECTO {cursor:pointer}

.ENLACEFUENTEMUYGRANDECOLORINCORRECTOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINCORRECTOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINCORRECTOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINCORRECTOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #FF0000; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINCORRECTOBOLD {cursor:pointer}

.ENLACEFUENTEMUYGRANDECOLORINFORMATIVO A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #B7007A; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINFORMATIVO A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #B7007A; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINFORMATIVO A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #FF9900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINFORMATIVO A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; COLOR: #B7007A; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINFORMATIVO {cursor:pointer}

.ENLACEFUENTEMUYGRANDECOLORINFORMATIVOBOLD A:link {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINFORMATIVOBOLD A:visited {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINFORMATIVOBOLD A:hover {text-decoration: underline; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #FF9900; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINFORMATIVOBOLD A:active {text-decoration: none; FONT-FAMILY: ARIAL; FONT-SIZE: 16PX; FONT-WEIGHT: BOLD; COLOR: #B7007A; LINE-HEIGHT: 20PX}
.ENLACEFUENTEMUYGRANDECOLORINFORMATIVOBOLD {cursor:pointer}

.BORDE01SOLIDOCOLORBORDE01 {
	BORDER: 1PX SOLID #000000;
}
.BORDE01TBLRSOLIDOCOLORBORDE01 {
	BORDER-TOP: 1PX SOLID #000000;
	BORDER-BOTTOM: 1PX SOLID #000000;
	BORDER-LEFT: 1PX SOLID #000000;
	BORDER-RIGHT: 1PX SOLID #000000;
}
.BORDE01TBLSOLIDOCOLORBORDE01 {
	BORDER-TOP: 1PX SOLID #000000;
	BORDER-BOTTOM: 1PX SOLID #000000;
	BORDER-LEFT: 1PX SOLID #000000;
}
.BORDE01TBRSOLIDOCOLORBORDE01 {
	BORDER-TOP: 1PX SOLID #000000;
	BORDER-BOTTOM: 1PX SOLID #000000;
	BORDER-RIGHT: 1PX SOLID #000000;
}
.BORDE01BLRSOLIDOCOLORBORDE01 {
	BORDER-BOTTOM: 1PX SOLID #000000;
	BORDER-LEFT: 1PX SOLID #000000;
	BORDER-RIGHT: 1PX SOLID #000000;
}
.BORDE01TBSOLIDOCOLORBORDE01 {
	BORDER-TOP: 1PX SOLID #000000;
	BORDER-BOTTOM: 1PX SOLID #000000;
}
.BORDE01BRSOLIDOCOLORBORDE01 {
	BORDER-BOTTOM: 1PX SOLID #000000;
	BORDER-RIGHT: 1PX SOLID #000000;
}
.BORDE01BLSOLIDOCOLORBORDE01 {
	BORDER-BOTTOM: 1PX SOLID #000000;
	BORDER-LEFT: 1PX SOLID #000000;
}
.BORDE01TSOLIDOCOLORBORDE01 {
	BORDER-TOP: 1PX SOLID #000000;
}
.BORDE01BSOLIDOCOLORBORDE01 {
	BORDER-BOTTOM: 1PX SOLID #000000;
}
.BORDE01LSOLIDOCOLORBORDE01 {
	BORDER-LEFT: 1PX SOLID #000000;
}
.BORDE01RSOLIDOCOLORBORDE01 {
	BORDER-RIGHT: 1PX SOLID #000000;
}
.BORDE01TLRSOLIDOCOLORBORDE01 {
	BORDER-TOP: 1PX SOLID #000000;
	BORDER-LEFT: 1PX SOLID #000000;
	BORDER-RIGHT: 1PX SOLID #000000;
}
.BORDE01TLSOLIDOCOLORBORDE01 {
	BORDER-TOP: 1PX SOLID #000000;
	BORDER-LEFT: 1PX SOLID #000000;
}
.BORDE01TRSOLIDOCOLORBORDE01 {
	BORDER-TOP: 1PX SOLID #000000;
	BORDER-RIGHT: 1PX SOLID #000000;
}
.BORDE01LRSOLIDOCOLORBORDE01 {
	BORDER-LEFT: 1PX SOLID #000000;
	BORDER-RIGHT: 1PX SOLID #000000;
}